* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    grid-template-rows: 100px 60px auto 100px;
    grid-template-areas: 
    "header"
    "gameInfo"
    /* "resetBtn" */
    "container"
    "footer";
}

.header {grid-area: header;}

.gameInfo {grid-area: gameInfo;}

/* .resetBtn {grid-area: resetBtn;} */

.container {grid-area: container;}

.footer {grid-area: footer;}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.header h1 {
    margin: 0;
}

/* GAME INFO */
.gameInfo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.gameInfo p {
    margin: 0 10px;
}

.gameInfo .reset-button{
    margin: 0 10px;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    background: white;
    border: 2px solid black;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    padding: 5px 0;
    text-align: center;
    transition: 0.2s ease;
}

.gameInfo .reset-button:hover {
    background: black;
    color: white;
    transform: scale(1.1);
}

/* CONTAINER */
.container {
    margin: auto;
}

/* CONTAINER GAME BOARD*/
.game-board {
    display: grid;
    margin: auto;
    grid-template-rows: repeat(3, 150px);
    grid-template-columns: repeat(3, 150px);;
}

.tile {
    
    width: 150px;
    height: 150px;
    background: white;
    border: 2px solid black;
    font-size: 50px;
    line-height: 150px;
    text-align: center;
}

.tile[index="0"] {
    border-radius: 20px 0 0 0;
}

.tile[index="2"] {
    border-radius: 0 20px 0 0;
}

.tile[index="6"] {
    border-radius: 0 0 0 20px;
}

.tile[index="8"] {
    border-radius: 0 0 20px 0;
}

/* CONTAINER START SCREEN*/
.start-screen {
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    opacity: 1;
}

.start-tile {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    transition: 0.2s ease;
    cursor: pointer;
}

.start-tile:hover {
    transform: scale(1.1);
}

.start-tile .start-type {
    flex: 1;
    font-size: 25px;
}

.start-tile .start-type p {
    margin: 30px 0 0 0;
}

.start-tile .start-images {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* CONTAINER PLAYER SCREEN*/
.player-screen {
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    opacity: 1;
}

.player-tile {
    border: 2px solid black;
    width: 360px;
    height: 220px;
    border-radius: 10px;
}

.player-form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.player-form .label-container {
    font-size: 18px;
}

.player-form .input-container { 
    font-size: 15px;
    font-weight: 500;
    border: 1.5px solid black; 
    border-radius: 10px;
}

.player-form .p1-container, .player-form .p2-container{
    align-self: flex-end;
    margin: 0 25px
}


input:focus, 
textarea:focus, 
select:focus{
    outline: none;
}

.radio-label {
    font-size: 17px;
    display: inline-block;
    border: 1.5px solid black;
    border-radius: 20px;
    width: 90px;
    padding: 5px;
    margin: 0 5px;
    text-align: center;
    transition: 0.2s ease;
    cursor: pointer;
}

.radio-input:checked + .radio-label {
    background: black;
    color: white;
    transform: scale(1.1);
}

.radio-input {
    display: none;
}

.submit-button {
    font-size: 17px;
    background: white;
    border: 1.5px solid black;
    border-radius: 20px;
    padding: 5px;
    margin: 0 5px;
    width: 90px;
    text-align: center;
    transition: 0.2s ease;
    outline: none;
    cursor: pointer;
}

.submit-button:hover {
    background: black;
    color: white;
    transform: scale(1.1);
}

.screen-hidden {
    display: none
}

.screen-transition {
    transition: opacity 0.5s ease;
}

.screen-transition.screen-hidden {
    display: flex;
    opacity: 0;
}

.screen-transition-grid.screen-hidden {
    display: grid;
    opacity: 0;
}

.mark-hidden {
    color: white;
}

.mark-transition {
    transition: color 0.5s ease;
}

.mark-transition.mark-hidden {
    color: black;
}

/* FOOTER */
.footer {
    display: flex;
    align-items: center;
    justify-items: center;
    margin: auto;
  }
  
  .footer p {
    font-weight: 500;
    font-size: 25px;
  }
  
  .footer img {
    transition: all 0.2s ease;
  }
  
  .footer img:hover {
    transform: scale(1.1);
  }