html {
    height: 100%;
    width: 100%
}

body {
    display: grid;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    grid-template-rows: 60px 60px auto 60px;
    grid-template-areas: 
    "header"
    "gameInfo"
    "container"
    "footer";
}

.header {grid-area: header;}

.gameInfo {grid-area: gameInfo;}

.container {grid-area: container;}

.footer {grid-area: footer;}

/* HEADER */


/* CONTAINER */
.container {
    margin: auto;
}

.game-board {
    display: grid;
    margin: auto;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
}

.tile {
    width: 100px;
    height: 100px;
    background: orange;
    border: 1px solid black;
}

.start-screen {
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    opacity: 1;
}

.start-tile {
    border: 1px solid black;
    width: 200px;
    height: 200px;
}

.player-screen {
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    opacity: 1;
}

.player-tile {
    border: 1px solid black;
    width: 300px;
    height: 200px;
}

.screen-hidden {
    display: none
}

.screen-transition.screen-hidden {
    display: flex;
    opacity: 0;
}

.screen-transition.screen-transition-grid.screen-hidden {
    display: grid;
    opacity: 0;
}

.screen-transition {
    transition: opacity 1s ease;
}

.radio-label {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 20px;
    width: 70px;
    padding: 5px 0;
    text-align: center;
}

.radio-input:checked + .radio-label {
    background: gray;
    color: white;
}

.radio-input {
    display: none;
}

/* FOOTER */